@use '~bootstrap/scss/bootstrap';
/* application.scss */
@media (max-width: 768px) {
  .custom-table thead {
    display: none; /* テーブルヘッダーを非表示に */
  }

  .custom-table tbody tr {
    display: block; /* 各行をブロック表示に */
    margin-bottom: 20px;
    border: 1px solid #ddd;
  }

  .custom-table tbody td {
    display: block; /* 各セルをブロック要素に */
    width: 100%;
    text-align: left;
    position: relative;
    padding-top: 40px; /* ラベル用のスペースを確保 */
    box-sizing: border-box;
  }

  .custom-table tbody td:before {
    content: attr(data-label); /* ヘッダーのラベルを疑似要素として表示 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px; /* ラベルの内側余白を追加 */
    height: auto; /* 自動高さ設定で、内容に合わせて調整 */
    line-height: 1.2em; /* ラインの高さを調整して、文字が見切れないように */
    font-weight: bold;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    overflow: hidden; /* テキストがラベルからはみ出さないように */
    white-space: nowrap; /* テキストを1行で表示する */
    text-overflow: ellipsis; /* テキストが長い場合、...で切り取る */
  }
  
  .comment-favorite {
  white-space: normal; /* 折り返しを許可 */
  display: flex; /* Flexboxを使用 */
  flex-direction: column; /* 縦方向に配置 */
}

td {
  word-wrap: break-word; /* 長い単語を強制的に改行 */
  overflow-wrap: break-word; /* 長い単語がセルの幅を超えた場合に改行 */
}
  
  /* no-label クラスを持つセルではラベルを非表示に */
  .custom-table tbody td.no-label:before {
    content: none;
  }
}
