<h2>グループ名 : <%= @group.name %></h2>
<p><strong>説明</strong> <%= @group.description %></p>

  <%= link_to "グループを削除する", admin_group_path(@group.id), method: :delete, data: {confirm: "本当にグループを削除しますか？"} %>
  